$card-width: 500px;
.weather-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__card {
    width: $card-width;
  }
  &__forecast {
    width: $card-width;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
