<div class="forecast">
  <h3 *ngIf="forecast.date">{{ forecast.date }}</h3>
  <div class="forecast__fields">
    <parameter-field
      [parameter]="formattedTemperature"
      label="Temperature"
    ></parameter-field>
    <parameter-field
      [parameter]="formattedHumidity"
      label="Humidity"
    ></parameter-field>
    <parameter-field
      [parameter]="formattedDescription"
      label="Description"
    ></parameter-field>
    <parameter-field
      *ngIf="formattedClouds"
      [parameter]="formattedClouds"
      label="Clouds"
    ></parameter-field>
    <parameter-field
      [parameter]="formattedWindDegree"
      label="Wind degree"
    ></parameter-field>
    <parameter-field
      [parameter]="formattedPressure"
      label="Pressure"
    ></parameter-field>
    <parameter-field
      [parameter]="formattedWindSpeed"
      label="Wind speed"
    ></parameter-field>
  </div>
</div>
